body {background-color: aqua;
    width: 786px;
    margin-left: auto;
    margin-right: auto;
    }
    p {text-align: justify;
    }
    #cont1 {width: 760px;
        height: auto;
        background-color: aliceblue;
    }
    header {padding-top: 20px;
        padding-left: 15px;

    }